
#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* background-color: black; */
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

.episode {
  height: 100vh;
}
.data_phim p {
  margin-bottom: 15px;
}
.slick-slide {
  padding: 0 10px;
}

.slick-prev {
  left: 0 !important;
}
.slick-next {
  right: 0 !important;
}

@media screen and (max-width: 768px) {
  .slick-slide {
      padding: 0 5px;
  }
}

.loading_vd {
  position: fixed;
  top: 50%;
  left: 50%;
}

.video_vd video {
  border-radius: 7px !important;
}
.chua_anh {
  overflow: hidden;
}
.anh_hover {
  transition: transform 0.5s ease-in-out;
  transform: translate3d(0,0,0);
}
.anh_hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
